<h1>Search Stock</h1>


<%= form_with model: @stock do |f|%>
  <%= f.label :name %>
  <%= f.text_field :name %><br>

  <%= f.label :ticker %>
  <%= f.text_field :ticker %><br>

  <%= f.label :price %>
  <%= f.text_field :price %><br>

  <%= f.submit "Create Stock" %>
<% end %>